body {
    margin: 0;
    overflow: hidden;
}

#main {
    display: grid;
    grid-template-areas:
        "sidebar canvas";
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    height: 100%;
}

.main {
    height: 100%;;
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
    overflow: scroll;
}

.matrix-row {
    padding: 5px;
}

.matrix-label {
    padding: 0px !important;
    padding-left: 10px !important;
}

#canvas-container {
    grid-area: canvas;
    padding:0;
}

#drawing-container {
    margin-top: 40px;
}
